.card {
    color:white;

    .item-header {
        position: relative;
        
        .indicator-success {
            width:20px;
            height:20px;
            background-color:lime;
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
        
        .indicator-danger {
            width:20px;
            height:20px;
            background-color:red;
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
    }
}